body {
  background-color: #191919 !important;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a { text-decoration: none !important; display: block; }


* {
  margin: 0;
  padding: 0;
}



/* .is-none {
  transition: all .3s ease;
  display: none;
}

.is-loaded {
  transition: all .3s ease;
  display: none;
} */





/* カルーセル prev / next arrow */
i.icon.icon-chevron-left::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: solid 3px #fff;
  border-left: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
i.icon.icon-chevron-right::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.5;
  transition: all .4s ease-in-out;
}

/* カルーセルスライダーのindicatorsを768px以下で非表示 */

@media (max-width:768px){
  .carousel .carousel-indicators { display: none;}
}



.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}

/* App 読み込みで発火させるセレクタ */
.is-opened{
  visibility: visible;
  opacity: 1 !important;
  transition: all .4s ease;
}

/* 画面遷移時 onLoad で発火させるセレクタ */
.isloadClose { 
  opacity: 0;
  transition: all .8s ease;
}

.isloadOpen { 
  opacity: 1;
  transition: all .8s ease;
}



/* ドロップダウンメニュー　アクティブで発火させるセレクタ */
.is-toggleOpen{
  visibility: visible;
  transition: all .8s ease;
  display: block;
}

.is-toggleClose{
  visibility: visible;
  transition: all .8s ease;
  display: none;
}