body {
  background-color: #191919 !important;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a { text-decoration: none !important; }

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


.hide { transition: all 0.5s ease-in-out; opacity: 0;}

.is-none {
  display: none !important;
}

.is-loaded {
  animation: fadeIn 3s ease 0s 1 normal;
  overflow: hidden;
  display: none;
}


@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    
  }
}


.is-loadedBefore { display: none;}

.is-loadedAfter { display: block; } 


/* カルーセル prev / next arrow */
i.icon.icon-chevron-left::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: solid 3px #fff;
  border-left: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
i.icon.icon-chevron-right::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* カルーセルスライダーのindicatorsを768px以下で非表示 */

@media (max-width:768px){
  .carousel .carousel-indicators { display: none;}
}


